.kubesail-apply {
  position: relative;
}

.kubesail-apply-button {
  position: absolute;
  top: 10px;
  right: 10px;
  content: 'Apply on KubeSail';
  color: white;
  background-color: #47c0bb;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 400ms;
}

.kubesail-apply-button:hover {
  background-color: #1f8cb4;
}
